$imageLengthSize: 49px;
$infoBoxHeight: 57px;
$infoBoxPadding: ($infoBoxHeight - $imageLengthSize) / 2;
$infoBoxBackgroundColor: #1A1A1A;
$infoBoxColor: white;

._infobox {
    height: $imageLengthSize;
    background-color: $infoBoxBackgroundColor;
    color: $infoBoxColor;
    float: left;
    padding: $infoBoxPadding;
    position: relative;

    img.thumbnails {
        height: $imageLengthSize;
        width: $imageLengthSize;
        float: left;
    }

    .right_col {
        padding-left: 2 * $infoBoxPadding;
        display: none;
        float: left;
        font-size: 12px;
        .caption {
            font-weight: bold;
        }
        .date {
            line-height: 13px;
        }
        .address {
            line-height: 14px;
        }
    }

    .tri_d {
        position: absolute;
        bottom: -6px;
        left: 20px;
    }


    &:hover {
        z-index: 999;
        .right_col {
            display: block;
        }
    }

}

#mapview > #infobox1 {
    display: none;
}
