<div id="person_mapview_page">
  <%= render :partial => "person_box" %>
  <%= render :partial => "mapview" %>
</div>

<% content_for :page_specific_asset do -%>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.8/src/infobox_packed.js"></script>
<% end -%>
