$bar_length: 500px;
@mixin round-shadow-box {
	border:6px solid white;
  -moz-box-shadow:0px 2px 2px #ccc;
  -webkit-box-shadow:0px 2px 2px #ccc;
  box-shadow:0px 2px 2px #ccc;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


#moment_map {
	position:fixed;
	background-image: image-url("moments/bg.png");
	left:0px;
	top:0px;
	height:100%;
	width:100%;

	#logo_vida {
		width: 500px;
		position: fixed;
		right: 50%;
	}

  #right_bar {
    position:fixed;
    top: 0px;
    left: 50%;
    width: $bar_length;
    #login_bar{
      position: absolute;
      top: 0px;
      left: 0px;
      padding-top: 36px;
      padding-left: auto;
      height: 40px;
      width: $bar_length;

      #current_user_photo{
        float: right;
        margin-right:10px;
        height:30px;
        width:30px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }

      #current_user_name{
        float: right;
        margin-right: 10px;
        font-size:14px;
        font-weight:700;
        line-height:30px;
        color:#4D4D4D;
      }

      #current_user_logout{
        float: right;
        margin-right: 10px;
        font-weight:700;
        line-height:30px;
        font-size: 14px;
        color:#4D4D4D;
      }
      #current_user_logout:hover{
        font-weight:900px;
        font-size:16px;
        color:#000000;
      }



      .bar{
        float: right;
        height: 31px;
        width: 30px;
        margin-right: 11px;
        background-image:image-url("moments/login_icon.png");
      }
      #qq_icon{
        background-position:-123px -36px;
      }
      #qq_icon:hover{
        background-position:-123px 0px;
      }
      #renren_icon{
        background-position:-82px -36px;
      }
      #renren_icon:hover{
        background-position:-82px 0px;
      }
      #douban_icon{
        background-position:-41px -36px;
      }
      #douban_icon:hover{
        background-position:-41px 0px;
      }
      #weibo_icon{
        background-position:0px -36px;
      }
      #weibo_icon:hover{
        background-position:0px 0px;
      }
      #login{
        float: right;
        margin-right: 10px;
      }
    }
  }

	#container {
		width: 1000px;
		height: 512px;
		margin: 80px auto 20px;

		#map-col {
			width: 659px;
			height: 512px;
			background: black;
			float: left;


			@include round-shadow-box; 
		}
	}

	#info-col {
		float: left;
		margin-left: 20px;
		.side-row {
			margin-bottom: 20px;
			.side-row-title {
				padding: 0 0 0px 20px;
				background: image-url("icon-sprite.png") no-repeat;
				color: #4d4d4d;
				font-size: 12px;

				&#info-title-name {
					background-position: 0 1px;	
				}

				&#info-title-info {
					background-position: 0 -17px;
				}

				text-shadow: 0px 1px 0px #fff;
				// filter: dropshadow(color=#fff, offx=0, offy=1);
				#view-detail {
					float: right;
					text-decoration: none;
					color: #99918A;
				}
			}

			.side-row-box {
				width: 255px;
				padding: 10px;
				background: white;
				@include round-shadow-box;

				&.multi-col-box {
					padding: 10px 0;
					width: 275px;
				}

				.box-col {
					width: 91px;
					height: 45px;
					float: left;
					text-align: center;
					h1 {
						font: bold 24px helvetica;
					}

					&.right-border {
						border-right: 1px solid #ccc;
					}
				}

				&#moment-name {
					font-size: 14px;
					color: #666;
				}
			}
		}

		#download_bar{
      width:207px;
      height:136px;
      position: relative;
      margin-top: 30px;

      #download_icon{
        height: 24px;
        width: 400px;
      }

      a {
    	  height: 61px;
        width:208px;
        display: block;
      	background-image:image-url("moments/download.png");	
      	margin: 10px 0;


        &#download_iphone:hover {
        	background-position: 0px -72px;
        }
        &#download_android {
        	background-position: -220px 0px;
        	&:hover {
        		background-position:-220px -72px;
        	}
        }
      }

      
    }
	}
}
.clearfix {
	clear: both;
}
img.map-marker {
  width: 40px;
  border:2px solid white;
  -moz-box-shadow:0px 0px 3px #cfcfcf;
  -webkit-box-shadow:0px 0px 3px #cfcfcf;
  box-shadow:0px 0px 3px #cfcfcf;
}