<div id="download_bar">
	<% unless hide_title %>
	  <div id="download_icon"><%=image_tag("moments/download_icon.png")%></div>
  <% end %>
  <a id="download_iphone" href="/d/iphone"></a>
  <a id="download_android" href="/android_download"></a>
</div> 