$red: #e81e43;

#footer {
    position: fixed;
    bottom: 0px;

    #timeline {
        color: #B3B3B3;
        font: bold 36px helvetica;
        padding-left: 35px;

        .timeline-item {
            cursor: pointer;
            &.active {
                color: $red;
            }
        }
    }


    #footer-nav {
        background-color: $red;
        border-bottom:1px solid #c51a39;
        border-top:1px solid #fff;
        font-size: 14px;
        height: 18px;
        padding: 11px 0;

        .nav-item {
            line-height: 18px;
            padding: 0 13px;
            margin: 0;
            color: white;
            cursor: pointer;
            .icon {
                width: 18px;
                height: 18px;
                float: left;
                margin-right: 10px;
            }

            #profile-avatar {
                width: 20px;
                height: 20px;
                padding: 2px;
            }

            &.first {
                padding-left: 33px;
            }
            &:not(.first) {
                border-left:1px solid #ec425e;
            }
            &:not(.last) {
                border-right:1px solid #c51a39;
            }

            &#nav-mine .icon {
                    background:image-url("smile_18x18.png") no-repeat scroll;
            }
            &#nav-explore .icon {
                    background:image-url("world_18x18.png") no-repeat scroll;
            }
            &#nav-profile .icon {
                    background:image-url("dialog_27x24.png") no-repeat scroll;
                    width: 27px;
                    height: 24px;
                    margin: -2px 5px 0 0;
            }
            &#nav-message .icon {
                    background:image-url("message_22x18.png") no-repeat scroll;
                    width: 22px;
            }
            &#nav-signout .icon {
                    background:image-url("logout_18x18.png") no-repeat scroll;
            }

            &#nav-weibo .icon {
                background: image-url("weibo_20x20.png") no-repeat;
                width: 22px;
                height: 22px;
                margin-top: -2px;
            }
            &#nav-douban .icon {
                background: image-url("douban_20x20.png") no-repeat;
                width: 22px;
                height: 22px;
                margin-top: -2px;
            }


            &:hover {
                color: #333;
            }

        }
    }


    #footer-copyright {
        background-color: $red;
        border-top:1px solid #ec425e;
        color: white;
        font-size:11px;
        padding-left: 13px;
    }

}
.pull-right {
    float: right;
}
