 <% cache "footer" do %>
<div id="footer">
  <div class="f_l">
    <span>Copyright © 2011 vida.fm | </span>
    <%= link_to '关于我们', about_url %>
  </div>
  <div class="f_r">沪ICP备10216111号-2</div>
</div>
<% end %>

