/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require css_reset
 *= require misc
 *= require video-js
 *= require bootstrap.min
 *= require_self
 *= require moments/show
*/

body {
    font: 13px/22px 微软雅黑,'Helvetica Neue',Helvetica,Arial,Sans-serif;
}