#frontpage {
  width: 100%;
  height: 100%;
  position: relative;


   #container {
    position:absolute;
    width: 945px;
    right: 50%;
    margin-right: -472.5px;
    height: 600px;
    top:50%;
    margin-top: -300px;
  }
  #preview-col {
    float: left;
    width: 424px;
    height: 600px;
    position: relative;
    .arrow-pane {
      background: image-url("frontpage/arrow_panel.png") no-repeat scroll;
      width: 437px;
      height: 108px;
      position: absolute;
      top: 290px;
      left: 37px;
      z-index: 1;
      #arrow-left {
        display: block;
        width: 85px;
        height: 85px;
        position: absolute;
        &:hover {
          background: image-url("frontpage/arrow_l.png") no-repeat scroll;
        }
      }
      #arrow-right {
        display: block;
        width: 85px;
        height: 85px;
        right: 0px;
        position: absolute;
        &:hover {
          background: image-url("frontpage/arrow_r.png") no-repeat 44px 0;
        }
      }
    }

    .layout {
      width: 351px;
      height: 700px;
      background: url(/assets/frontpage/iphone_341x658.png) no-repeat;
      position: absolute;
      left: 104px;
      z-index: 2;
      zoom: 0.9;
      .shine {
        background: image-url("frontpage/shine.png") no-repeat;
        position: absolute;
        top: 15px;
        right: 11px;
        width: 170px;
        height: 512px;
        z-index: 4;
      }
      .screenshots {
        position: absolute;
        top: 105px;
        left: 37px;
        z-index: 3;
        img {
          width: 283px;
          margin-top: 18px;
        }
      }
    }

  }

  #intro-col {
    float: left;
    width: 428px;
    margin-top: 105px;
    margin-left: 90px;


    #intro-summary {
      margin-top: 15px;
    }

    #intro-features {
      margin-top: 20px;
      img {
        display: block;
        margin-top: 15px;
      }
    }

    #download_bar{
      position: relative;
      width:476px;
      height:90px;

      #download_icon{
        height: 24px;
        width: 400px;
      }

      #download_iphone{
        display: block;
        position:absolute;
        top:20px;
        left: 0px;
        height: 61px;
        width:208px;
        background-image:image-url("moments/download.png");
        background-position:0px 0px;
      }
      #download_iphone:hover{
        background-position:0px -72px;
      }

      #download_android{
        display: block;
        position:absolute;
        top:20px;
        left: 220px;
        height: 61px;
        width:208px;
        background-image:image-url("moments/download.png");
        background-position:-220px 0px;
      } 
      #download_android:hover{
        background-position:-220px -72px;
      }
    }
  }

  #footer {
    bottom: 0px;
    color: #b3b3b3;
    padding: 11px 20px;
    position: absolute;
    right: 0px;
    font-size: 11px;
    width: initial;
    a {
      color: #b3b3b3;
    }
  }
}