// Place all the styles related to the misc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about_page {
  width: 800px;
  margin: 0 auto;
  clear: both;
  padding-top: 120px;

  .left_box {
    width: 551px;
    float: left;

    p {
      color: white;
      padding-right: 100px;
    }
  }
  .right_box {
    width: 249px;
    float: left;
    h1 {
      font-size: 18px;
      color: white;
      padding: 10px 0px;
      line-height: 1.2em;
    }
    input[type="submit"] {
      border: 0;
      padding: 5px;
      width: 100px;
      color: white;
      background-color: #E5253D;
    }
    #feedback_from {
      padding: 5px 5px 5px 40px;
      font-size: 14px;
      line-height: 1em;
      background: white image-url("about/mail.png") 6px -2px no-repeat;
      width: 249px - 40px;
    }
    #feedback_content {
      padding: 5px 5px 5px 42px;
      font-size: 14px;
      line-height: 1.2em;
      background: white image-url("about/mail.png") 8px -2px no-repeat;
      width: 209px;
    }
  }
}

#footer {
  position: fixed;
  bottom: 0px;
  color: #333;
  width: 99%;
  padding: 5px;
  .f_l {
    float: left;
  }
  .f_r {
    float: right;
  }

}