// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #E5253D;
$black: #2B2B2B;
$grey: #E6E6E6;

$left-thumbnail-height: 511px;
$left-thumbnail-width: 511px;
$right-thumbnail-height: 255px;
$right-thumbnail-width: 255px;

$content_wd: 1023px;
$content_ht: $content_wd;
$left_img_wd: 511px;
$left_img_ht: $left_img_wd;

$right_img_wd: ($content_wd - 2px - $left_img_wd) / 2;
$right_img_ht: ($content_ht - 2px - $left_img_ht) / 2;

$info_bar_ht: 30px;

$map_ht: 550px;

@mixin background_once($filename, $top: 0, $left: 0) {
  background: {
    image: image-url($filename);
    position: $left $top;
    repeat: no-repeat;
  }
}


@import "maps/infobox";
@import "setting";


a.__red_btn {
  font-size: 12px;
  background-color: $red;
  display: block;
  float: left;
  padding: 5px 5px 5px 36px;
  color: white;
  &:hover {
    background-color: $black;
  }
}


.sec_0 {
  width: 300px;
  margin: 0 auto;
  height: 41px;
  padding-top: 5px;
  z-index: 999;
  img {
    float: left;
    height: 30px;
    width: 30px;
    padding: 5px;
  }
  div {
    width: 200px;
    float: left;
    color: $red;
    display: block;
    height: 19px;
    padding: 0px 10px;
    font-weight: bold;
  }

  a {
    color: $grey;
    padding-left: 20px;
    display: block;
    float: left;
    line-height: 16px;
    background-color: $grey;

    &:hover,
    &.in {
      color: $red;
      background-color: $red;
    }

    &#tl_btn {
      @include background_once("people/clock_white.png");
      //border-right: 2px solid $red;
      padding-right: 5px;
    }

    &#mp_btn {
      @include background_once("people/annotation_white.png");
      margin-left: 5px;
    }
  }
}

#person_timeline_page {
  clear: both;
  #moments {
    padding-top: 100px;
  }

  #fixed_box {
    background-image: image-url("people/mask_gradient.png");
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
    z-index: 1000;
    .sec_0 {
      position: absolute;
    }
    .wrapper_i {
      margin-top: 41px;
    }
  }

  .date_slider {
    width: 100%;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
  }

  .date_slider a {
    background-color: #e5253b;
    height: 30px;
  }

  .date_slider a:hover {
    background-color: #E6E6E6;
  }

  .date_slider .arrow_l {
    float: left;
    margin-left: 10px;
  }

  .date_slider .arrow_r {
    float: right;
    margin-right: 10px;
  }

  .date_slider a.cur_date_tag {
    color: white;
    display: none;
    background-repeat: no-repeat;
    padding: 3px 10px 2px 10px;
    height: 25px;
    font-size: 25px;
    cursor: pointer;
  }

  .date_slider #cur_date_tag_l:hover,
    .date_slider #cur_date_tag_r:hover {
      background-color: #2B2B2B;
    }

  .date_slider #cur_date_tag_l {
    @include background_once("people/arrow_mask_l.png");
    background-color: #e5253d;
    float: left;
    padding-left: 20px;
  }

  .date_slider #cur_date_tag_r {
    @include background_once("people/arrow_mask_r.png", center, right);
    background-color: #e5253d;
    float: right;
    padding-right: 20px;
  }


  .date_slider img {
height: 30px;
  }

  .timeline_item {
    font-family: helvetica, arial;
    border-top: 5px solid #E6E6E6;
    font-size: 36px;
    width: 130px;
    float: left;
    padding: 10px 50px 10px 0px;
    color: $grey;
    font-weight: bold;
  }

  #magic-line { 
    position: absolute; 
    left: 0; 
    width: 100px; 
    height: 1px; 
    border-top: 5px solid #e5253d;
    padding: 0 50px 0 0;
  }


  a.timeline_item {
    cursor: pointer;
  }

  a.timeline_item.empty {
    font-size: 20px;
    cursor: default;
    width: 80px;
    &:hover {
      color: #E6E6E6;
    }
  }
  .timeline a.selected,
    .timeline a:hover {
color: #e5253b;
    }
  .timeline a.selected.empty_item,
    .timeline a.empty_item:hover {
color: #e6e6e6;
    }
  .timeline {
    margin-top: 5px;
    position: relative;
  }
}


#person_mapview_page {
  clear: both;
  width: $content_wd;
  margin: 0px auto;
  #mapview {
    width: $content_wd;
    margin: 5px auto 120px;
    position: relative;
    #t_shadow {
      border-top: 5px solid $red;
      background-image: image-url("people/map_t_mask.png");
      width: $content_wd;
      height: 9px;
      position: absolute;
      z-index: 3;
    }
    #canvas {
      & > img {
        width: $content_wd;
        height: $map_ht;
        position: absolute;
        z-index: 2;
      }
      height: $map_ht - 30px;
    }
    #b_shadow {
      position: absolute;
      z-index: -1;
      width: $content_wd;
      margin-top: -30px;
    }
  }
}

#launch_page {
  padding-top: 80px;
  text-align: center;
  color: #E5253D;
  h1 {
    font-weight: 800;
    font-size: 20px;
  }

  .box {
    clear: both;
    margin: 20px auto;
    h3 {
      font-size: 12px;
      font-weight: 600;
    }

    a {
      @extend a.__red_btn;
    }
    &#download {
      width: 200px;
      a {
        line-height: 20px;
        width: 70px;
        padding-left: 31px;
        margin: 0 45px;
      }
      #iphone {
        @include background_once("share/apple_w_30x30.png");
      }
    }

    &#others {
      width: 500px;
      #recent, #example {
        padding: 0;
        width: 170px;
        text-align: left;
        img {
          float: left;
          border-right: 1px solid white;
        }
        span {
          text-align: center;
          width: 129px;
        }
      }

      img {
        height: 30px;
        width: 30px;
      }
      span {
        float: left;
        padding: 5px;
        line-height: 20px;
      }
      div {
        padding-left: 63px;
      }
    }
  }

}

#moments {
  position: static;
  .moment {
    .photos {
      .left_box {
        position: relative;
        height: $left-thumbnail-height;

        img.thumbnail {
          height: $left-thumbnail-height;
          width: $left-thumbnail-width;
        }
        .info {
          width: $left-thumbnail-width;
          line-height: 32px;
          position: absolute;
          bottom: 0px;
          background: image-url("mask_70.png");
          .avatar {
            width: 30px;
            height: 30px;
            border: 1px solid white;
            float: left;
          }
          .caption {
            color: white;
          }
          .date {
            float: right;
            color: white;
          }
        }
      }
      .right_box {
        a {
          height: $right-thumbnail-height;
          display: block;
          position: relative;
          margin: 0 0 1px 1px;
          float: left;

          .video_mask {
            position: absolute;
            left: 65px;
            top: 65px;
          }

          img.thumbnail {
            height: $right-thumbnail-height;
            width: $right-thumbnail-width;
            float: left;
          }
          .info {
            width: $right-thumbnail-width;
            line-height: 32px;
            position: absolute;
            bottom: 0px;
            background: image-url("mask_70.png");
            .avatar {
              width: 30px;
              height: 30px;
              border: 1px solid white;
              float: left;
            }
            .caption {
              color: white;
            }
            .date {
              float: right;
              color: white;
            }
          }
        }
        
      }
    }
  }
}
  
