$red: #e5253d;
$content_wd: 1023px;
$content_ht: $content_wd;
$left_img_wd: 511px;
$left_img_ht: $left_img_wd;
$info_bar_ht: 30px;
$portrait_size: 30px;
$right_img_wd: ($content_wd - 2px - $left_img_wd) / 2;
$right_img_ht: ($content_ht - 2px - $left_img_ht) / 2;

.__underl {
    &:hover {
      text-decoration: underline;
    }
}

#moments {





.moment {
    width: $content_wd;
    height: 44px + $left_img_ht;
    margin: 10px auto;
    clear: both;

    .photos {
      clear: both;
    }


    .info {
      color: $red;
      .title {
        font-size: 20px;
        float: left;
        border-bottom: 1px solid white;
        @extend .__underl;
      }

      .addr_date {
        float: left;
        clear: left;
      }

      .more {
        float: right;
        border-bottom: 1px solid white;
        @extend .__underl;
      }
      .num {
        float: right;
        padding: 0px 9px 0px 25px;
        @include background_once("share/photos.png", 4px, 4px);
      }
    }

    .left_box {
      width: $left_img_wd;
      height: $left_img_ht;
      float: left;
      position: relative;

      & > img {
        width: $left_img_wd;
        height: $left_img_ht;
      }

      .mask {
        width: $left_img_wd;
        height: $left_img_ht - 30px;
        z-index: 999;
        background: image-url("people/bit_mask.png");
        position: absolute;
        top: 0;
      }
      img.video_mask {
	position: absolute;
	top: 200px;
	z-index: 2;
	width: 119px;
	height: 119px;
	left: 200px;
      }


      & > div {
        height: $info_bar_ht;
        opacity: 0.7;
        width: $left_img_wd;
        position: absolute;
        bottom: 0px;
        background-color: black;

        & > img {
          height: $info_bar_ht;
          width: $info_bar_ht;
          opacity: 1;
          float: left;
        }

        & > span {
          line-height: 18px;
          padding: 6px;
          color: white;
        }

        & > .caption {
          float: left;
        }

        & > .date {
          float: right;
        }
      }
    }

    .right_box {
      width: $content_wd - $left_img_wd;
      float: left;

      .img_box {
        position: relative;
        float: left;
        width: $right_img_wd;
        height: $right_img_ht;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        img, .mask {
          width: $right_img_wd;
          height: $right_img_ht;
          float: left;
          position: absolute;
          &.portrait {
            height: 30px;
            width: 30px;
            position: absolute;
            bottom: 0;
            left: 0;
            border-top: 1px solid white;
            border-right: 1px solid white;
            z-index: 999;
          }
        }

	
        	img.video_mask {
        position: absolute;
        top: 70px;
        z-index: 2;
        width: 119px;
        height: 119px;
        left: 70px;
        }

        .mask {
          z-index: 999;
          background: image-url("people/bit_mask.png");
        }

        .info {
          z-index: 998;
          position: absolute;
          bottom: 0;
          width: $right_img_wd - $portrait_size - 7px;
          height: $portrait_size;
          background-color: black;
          color: white;
          left: $portrait_size;
          line-height: 30px;
          padding-left: 7px;
          opacity: 0.7;
          display: none;
        }
      }
    }
}
}
