<%= content_for :title do %>
最近活动 - VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :meta_description do %>
看看大家在 Vida 上分享的生活轨迹
<%  end-%>


<% cache "#{Time.now.to_i / 180}-explore" do %>
<div id="moment-explore">
  <div class="clearfix"></div>
  <div id="moments"> <%= render :partial => "moments/moment", :collection => @moments %> </div>
  <div class="clearfix"> </div>
</div>
<% end %> 