<div id="bg_black"> </div>
<div id="left_bar"> 


</div>
<div id="right_bar"> 
	<div id="login_bar"> 
		<div style="position:relative;right:0px;">
			<p style="float: right;">dasfdasfdsa</p>
		</div>
	</div>


</div>


<p id="copyright" >沪ICP备10216111号-2</p>
